.gradle
.idea
*/bin
*/build

assign01/src/main/java/edu/realemj/assign01/Greetings.java
assign02/src/main/java/edu/realemj/*
assign03/src/main/java/edu/realemj/*
assign04/src/main/java/edu/realemj/*
assign05/src/main/java/edu/realemj/assign05/*
!assign05/src/main/java/edu/realemj/assign05/Silmarillion.java

